.popupReview {
  display: flex;
  flex-direction: column;
  width: 815px;
  height: 592px;
  padding: 24px;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  border-radius: 16px;
}

.popupReview__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.popupReview__text {
  font-size: 1.6em;
  line-height: 33px;
  font-weight: 900;
  font-family: "Nunito Sans";
}

.popupNav__btn {
  height: 56px;
  width: 56px;
}

.popupReview__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 86.5%;
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
  .popupReview {
    width: 76%;
    height: 60%;
  }

  .popupReview__wrapper {
    height: 78.7%;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .popupReview {
    width: 80%;
    height: 420px;
  }

  .popupReview__wrapper {
    height: 78.7%;
  }
}

@media screen and (max-width: 500px) {
  .popupReview {
    width: 76.6%;
    height: 272px;
  }

  .popupReview__text {
    font-size: 1.5em;
    line-height: 26.4px;
    font-weight: 900;
    font-family: "Nunito Sans";
  }

  .popupReview__wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 70.7%;
  }
}
