.offer {
  width: 65.8%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 192px 0;
  justify-content: center;
}

.offer__title {
  text-align: center;
  font-size: 1.5em;
  line-height: 26.4px;
  font-family: "Nunito Sans";
  font-weight: 900;
}

.text {
  text-align: center;
}

.offer__margin {
  margin-bottom: 8px;
}

.offer__margin_b {
  margin-bottom: 24px;
}

.instagramm {
  width: 19px;
  height: 19px;
}

.telegram {
  width: 20px;
  height: 17px;
}

@media screen and (max-width: 1130px) {
  .offer {
    width: 100%;
    padding: 96px 0;
  }
}

@media screen and (min-width: 740px) {
  .offer__title {
    font-size: 3em;
    line-height: 52.8px;
  }
  
}
