.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #28272a;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  overflow: hidden;
}
