.about {
  display: grid;
  align-items: center;
  grid-template-columns: fit-content(40.2%) fit-content(48.8%);
  grid-template-areas: "image information";
  justify-content: space-between;
  padding-top: 192px;
}

.about_img {
  grid-area: image;
  width: 100%;
  height: auto;
}

.about__container {
  grid-area: information;
  display: flex;
  flex-direction: column;
}

.about__subtitle {
  font-size: 1.87em;
  line-height: 33px;
  font-weight: 900;
  font-family: 'Nunito Sans';
  margin-top: 12px;
}

.about__box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mt {
  margin-top: 32px;
}

.box {
  display: flex;
  margin-bottom: 24px;
}

.box:last-of-type {
  margin-bottom: 0;
}

.about__icon {
  width: 64px;
  height: 64px;
  border-radius: 16px;
}

.ml {
  margin-left: 12px;
}

@media screen and (min-width: 1110px) and (max-width: 1355px) {
  .about {
    grid-template-columns: fit-content(50%) fit-content(45%);
  }
}

@media screen and (min-width: 751px) and (max-width: 1109px) {
  .about {
    grid-template-columns: fit-content(45%) fit-content(52%);
  }
}
@media screen and (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 97px;
  }

  .about__subtitle {
    text-align: center;
    font-size: 1.12em;
    line-height: 27px;
    margin: 8px 0 24px;
  }

  .mt {
    margin-top: 24px;
  }

  .box {
    margin-bottom: 16px;
  }

  .about__icon {
    width: 56px;
    height: 56px;
  }
}
