.card {
  width: 100%;
  height: 490px;
  border-radius: 32px;
  background: linear-gradient(69.11deg, #242529 0%, #1b1c1f 100%);
  margin: 0 auto;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  height: 56px;
  padding: 24px;
}

.card__user {
  display: grid;
  grid-template-columns: fit-content(56px) fit-content(300px);
  grid-template-areas: "image information";
  column-gap: 12px;
  width: 100%;
}

.card__image {
  grid-area: image;
  width: 56px;
  height: 56px;
  border-radius: 12px;
}

.card__user-personality {
  grid-area: information;
  display: flex;
  flex-direction: column;
}

.card__name {
  font-size: 1.5em;
  font-family: "Nunito Sans";
  font-weight: 900;
  line-height: 26.4px;
}

.card__user-information {
  display: flex;
  align-items: center;
}

.card__icon {
  width: 18.74px;
  height: 18.74px;
}

.card__insta-name {
  font-size: 1.12em;
  line-height: 27px;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: 6.63px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card__insta-name:hover {
  color: gold;
}

.card__area {
  font-size: 1.12em;
  line-height: 19.8px;
  font-family: "Nunito Sans";
  font-weight: 900;
  font-style: italic;
  margin: 24px 0;
  text-align: left;
  height: 40px;
  width: 100%;
}

.card__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
}

.card__user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__user-mg {
  margin-top: 18px;
}

.card__amount {
  font-size: 1.12em;
  line-height: 19.8px;
  font-family: "Nunito Sans";
  font-weight: 900;
}

.card__amount-new {
  background: linear-gradient(69.11deg, #242529 0%, #1b1c1f 100%);
  border-radius: 16px;
  padding: 16px 0;
  text-align: center;
}

.card__money {
  font-size: 1.87em;
  line-height: 33px;
  font-family: "Nunito Sans";
  font-weight: 900;
  margin-top: 4px;
}

.border__width {
  width: 100%;
}

.card__button {
  width: 100%;
  background: linear-gradient(80.24deg, #ffe600 0%, #ffed4d 100%);
  border: none;
  border-radius: 16px;
  margin-top: 24px;
  cursor: pointer;
}

.card__button:hover {
  box-shadow: 1px 1px 32px #ffe600, -1px -1px 12px #ffed4d;
}

.card__button-text {
  color: #181818;
  font-size: 1.12em;
  line-height: 24.5px;
  font-family: "Open Sans";
  font-weight: 700;
  padding: 16px 0 15px;
}

@media screen and (min-width: 1036px) and (max-width: 1079px) {
  .card__user-mg {
    margin-top: 0;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1036px) {
  .card__user-mg {
    margin-top: 10px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1079px) {
  .border__width {
    width: 100%;
  }

  .card__name-sp {
    font-size: 1em;
    height: 30px;
  }

  .card__name-s {
    font-size: 1.4em;
  }

  .card__user {
    grid-template-columns: fit-content(56px) fit-content(280px);
  }

}

@media screen and (min-width: 801px) and (max-width: 1000px){
  .card__user-mg {
    margin-top: 1px;
  }
}

@media screen and (min-width: 801px) and (max-width: 928px) {
  .card__user-mg {
    margin-top: 12px;
  }
}

@media screen and (min-width: 560px) and (max-width: 800px) {
  .card__container {
    width: 92%;
    padding: 15px;
  }

  .card__user {
    grid-template-columns: fit-content(65px) fit-content(350px);
    column-gap: 15px;
  }

  .card__button-wdt {
    width: 100%;
  }

  .card__image {
    width: 65px;
    height: 65px;
  }

  .card__name {
    font-size: 1.6em;
  }

  .card__icon {
    width: 20px;
    height: 20px;
  }

  .card__insta-name {
    font-size: 1.2em;
    line-height: 29px;
  }

  .card__area {
    font-size: 1.2em;
    line-height: 22px;
  }

  .card__button-text {
    font-size: 1.2;
  }

  .card__amount {
    font-size: 1.2em;
  }

  .border__width {
    width: 100%;
  }
}

@media screen and (min-width: 391px) and (max-width: 450px) {
  .card__container {
    width: 90%;
    padding: 15px;
  }

  .card__button {
    width: 100%;
  }
}

@media screen and (min-width: 351px) and (max-width: 390px) {
  .card__user,
  .card:nth-of-type(2) {
    align-items: center;
  }

  .card:nth-of-type(2) {
    height: 500px;
  }

  .card__button {
    width: 287px;
  }

  .card__container {
    width: 84%;
  }
}

@media screen and (max-width: 350px) {
  .card__container {
    width: 92%;
    padding: 9px;
  }

  .card__user {
    display: grid;
    grid-template-columns: fit-content(56px) fit-content(200px);
    grid-template-areas: "image information";
    column-gap: 10px;
  }

  .card__area {
    font-size: 1em;
    line-height: 16.8px;
    width: 270px;
  }

  .card__box {
    width: 260px;
  }

  .card__insta-name {
    font-size: 1em;
  }

  .border__width {
    width: 254px;
  }

  .card__button-wdt {
    width: 260px;
  }
}
